<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="WidgetAppServiceUrl" value="http://APP_SERVER_NAME:18001/WidgetAppService.svc" />    
    <add key="WidgetAppServiceSpn" value="HOST/APP_SERVER_NAME" />
    <add key="WidgetBusServiceUrl" value="http://BUSINESS_SERVER_NAME:28001/WidgetBusService.svc" />
    <add key="WidgetBusServiceSpn" value="HOST/BUSINESS_SERVER_NAME" />
    <add key="WidgetDomServiceUrl" value="http://DOMAIN_SERVER_NAME:38001/WidgetDomService.svc" />
    <add key="WidgetDomServiceSpn" value="HOST/DOMAIN_SERVER_NAME" />
   </appSettings>
  
</configuration>